#oauthbearer-plugin,
#oauthbearer-plugin * {
    font-size: 16px;
}

#oauthbearer-plugin .text-error {
    font-weight: bold;
    color: red;
    margin-top: 5px;
}

#oauthbearer-plugin .btn
{
    background-color: #6c757d;
    border: 1px solid #4e555b;
    border-radius: 4px;
    color: whitesmoke;
    cursor: pointer;
    display: inline-block;
    font-family:  arial, helvetica, sans-serif;
    font-size:  16px;
    font-weight:  bold;
    line-height:  1.5em;
    padding:  6px 10px;
    text-decoration: none;
}
#oauthbearer-plugin .btn:hover
{
    background-color: #545b62;
}

#oauthbearer-plugin .btn.btn-danger
{
    background-color: #dc3545;
    border-color: #ae302d;
}
#oauthbearer-plugin .btn.btn-danger:hover
{
    background-color: #ae302d;
}
#oauthbearer-plugin .btn-group {
    font-size: 0px;
}
#oauthbearer-plugin .btn-group .btn:first-child
{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#oauthbearer-plugin .btn-group .btn:last-child
{
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#oauthbearer-plugin .btn-group .btn:not(:first-child):not(:last-child)
{
    border-radius: 0;
    border-left-width: 0;
    border-right-style: solid;
}

#oauthbearer-plugin .btn:active
 {
    position:relative;
    top:1px;
}

#oauthbearer-plugin .client {
    margin-top: 1em;
    border-top: 1px solid lightgray;
}
#oauthbearer-plugin .client .table {
    border-collapse: collapse;
    width: 100%;
}
#oauthbearer-plugin .client .table tr {
    background-color: white;
    border: 1px solid black;
}
#oauthbearer-plugin .client .table tr th {
    text-align: right;
    white-space: nowrap;
}
#oauthbearer-plugin .client .table tr td {
    width: 100%;
}
#oauthbearer-plugin .client .table tr th, .client .table tr td {
    padding: 0.5em;
}
#oauthbearer-plugin .client .table tr td textarea {
    margin: -0.4em;
    padding: 0.5em;
    width: 100%;
    border: none;
}

#oauthbearer-plugin .client .client-actions {
    margin: 1em 0;
}

#oauthbearer-plugin .client .client-actions form {
    float: right;
}

#oauthbearer-plugin .client .client-actions:after {
    content: "";
    width: 100%;
    display: block;
    clear: both;
}

#oauthbearer-plugin .form-group + .form-group {
    margin-top: 2em;
}

#oauthbearer-plugin .form-group label {
    display: block;
    font-size: 18px;
    font-weight: 600;
}

#oauthbearer-plugin .form-control[type=text] {
    border: 1px solid lightgray;
    border-radius: 4px;
    display: block;
    font-family: monospace;
    font-size: 16px;
    height: 50px;
    line-height: 1.5em;
    padding: 7px 12px;
    width: 100%;
}

#oauthbearer-plugin .text-left { text-align: left; }
#oauthbearer-plugin .text-right { text-align: right; }
#oauthbearer-plugin .text-center { text-align: center; }

#oauthbearer-plugin .ico.ico-warning:after {
    content: "\26A0";
    color: red;
    font-weight: bold;
}
#oauthbearer-plugin .warning-box .ico {
    font-size: 3em;
    vertical-align: middle;
}

#oauthbearer-plugin .clearfix:after {
    content: " ";
    clear: both;
    width: 100%;
    display: block;
    float: none;
}